<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easen.aicode.mapper.ThumbMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.easen.aicode.model.entity.Thumb">
        <id column="id" property="id"/>
        <result column="userId" property="userId"/>
        <result column="appId" property="appId"/>
        <result column="createTime" property="createTime"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, userId, appId, createTime
    </sql>
    <delete id="deleteBatch">
        DELETE FROM thumb WHERE 
        <foreach collection="list" item="item" separator=" OR ">
            (userId = #{item.userId} AND appId = #{item.appId})
        </foreach>
    </delete>

</mapper>
